<div class="container" data-template="monthSchedule">
    <div class="calendar-wrapper">
        <div class="calendar">
            <div class="calendar-head">
                <div class="header-calendar-button" data-action="prev"></div>
                <div class="text">
                    <span id="month-name-placeholder"></span>, <span id="year-placeholder"></span> год
                </div>
                <div class="header-calendar-button" data-action="next"></div>
            </div>
            <div class="days-of-week">
                <div class="day-of-week-container">пн</div>
                <div class="day-of-week-container">вт</div>
                <div class="day-of-week-container">ср</div>
                <div class="day-of-week-container">чт</div>
                <div class="day-of-week-container">пт</div>
                <div class="day-of-week-container">сб</div>
                <div class="day-of-week-container">вс</div>
            </div>
            <div class="calendar-body unselectable" id="calendar-body"></div>
        </div>
    </div>
</div>