<div class="container exception-container">

    <div class="exception-code">404</div>
    <div class="exception-message">{{message}}</div>

    <input type="button" class="button" id="button" value="Назад">

</div>