<div class="container">
    <div class="profile-info">
        <div class="profile-ids">
            <h1 class="profile-username">{{username}}</h1>
            <h6 class="profile-id"><span>#{{id}}</span></h6>
        </div>
        <div class="logout-link-container">
<!--            <a href="/logout" class="logout-link">Выйти</a>-->
            <input type="button" class="button red-button" id="logout-button" value="Выйти">
        </div>
    </div>
</div>