<div class="login-form-container">
    <div class="login-form-row">
        <label for="username">Логин</label>
        <input id="username" name="username" type="text">
    </div>
    <div class="login-form-row">
        <label for="password">Пароль</label>
        <input id="password" name="password" type="password">
    </div>
    <div class="login-form-row">
        <a class="blue-link" href="/login">Уже есть аккаунт?</a>
        <input type="submit" class="button" id="registerButton" value="Зарегистрироваться">
    </div>
    <div id="errors" class="login-form-row errors"></div>
</div>