<div class="container exception-container">
    <div class="exception-code">401</div>
    <div class="exception-message">{{message}}</div>

    <div class="exception-links">
        <a href="/login" class="blue-link">Войти</a>
        <a href="/register" class="blue-link">Ещё нет аккаунта?</a>
    </div>

    <input type="button" class="button" id="button" value="Назад">
</div>